body {
  height: 100%;
}

.buttons {
  height: 10%;
}

.others {
  height: 70%;
}

.main-row {
  float: left;
  width: 33%;
  height: 100%;
}

textarea {
  height: 100%;
  width: 100%;
}

input {
  width: 100%;
}

select {
  height: 100%;
  width: 100%;
}
.errors {
  height: 10%;
}
